<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration.UnityConfigurationSection"/>
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<alias alias="IWikipediaMainPage" type="AutomationTestDesignPattern.InversionOfControl.Contracts.IWikipediaMainPage, AutomationTestDesignPattern.InversionOfControl" />
		<alias alias="WikipediaMainPage" type="AutomationTestDesignPattern.InversionOfControl.WikipediaMainPage, AutomationTestDesignPattern.InversionOfControl" />

		<container name="WikipediaTestContainer">
			<register type="IWikipediaMainPage"
			          mapTo="WikipediaMainPage">
				<lifetime type="singleton"/>
			</register>
		</container>
	</unity>
</configuration>